*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  position: fixed;
  right: 0;
  bottom: 0;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
body{
  font-family: 'Overpass', sans-serif;
  font-size: 12px;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 40px;
}
.container{
  background-color: #fff;
  box-shadow: 20px 10px 30px hsla(250, 37%, 41%, 0.723);
  width: 920px;
  height: 509px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion{
  margin: 65px;
  width: 350px;
}
.accordion h2{
  margin-bottom: 43px;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
}

.label-box{
  margin: 0 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  color: hsl(240, 6%, 50%);
  font-weight: 400;
}
.accordion-box .label:hover{
  cursor: pointer;
  color: hsl(14, 88%, 65%);
}
.arrow-icon:active{
  transform: rotate(180deg);
  cursor: pointer;
}
.arrow-icon{
  width: 10px;
  height: 10px;
}
.image img:first-child{
  width: 150px;
  height: 150px;
  position: absolute;
  transform: translate(-73px, 140px);
  z-index: 2;
}
.image img:last-child{
  z-index: 1;
  transform: translate(-90px);
}
.hidden{
  display: none;

}
.box-changed{
  height: max-content;
  line-height: normal;
}
.changed{
  width: 333px;
  height: 18px;
  color: hsl(238, 29%, 16%);
  font-weight: 700;
  margin-bottom: 11px;
}
.box-changed div:last-child{
  padding-left: 10px;
  font-weight: 400;
}